.lista{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    text-decoration: none;
}
.cuerpo{
    color: #fc3200;
    background-color: rgb(50, 40, 136);
}
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
 a:link {
    color: #fc3200;
  }
  
  a:visited {
    color: #fc3200;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #feccaa;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #feccaa;
  }
  
  a:active {
    background: #feccaa;
    color: #feccaa;
  }
  .tabla2{
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    border: 1px solid #fc3200;
    margin-left: 5%;
  }
  .footer{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
}
.mapa{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fc3200;
}
